@import url('https://fonts.googleapis.com/css2?family=Lato');

*{
    margin: 0;
    padding: 0;
}

:root{
    --white: #fff;
    --dark1: #34344e;
    --dark2: #3a415a;
    --dark3: #566981;
    --dark4: #89a7b1;
    --dark5: #cbdad5;
    --dark6: #2f2f46;
    --cyan1: #70e3ea;
}

body{
    background-color: var(--dark1);
    height: 100vh;
    font-family: 'Lato', sans-serif;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    padding: .8rem;
    background-color: var(--dark6);
    min-height: 50px;
}

.box-img-header{
    height: 100%;
}

.img-logo{
    max-width: 60px;
    height: 100%;
}

nav{
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.nav-links{
    text-decoration: none;
    color: var(--white);
}

.nav-links:hover{
    color: var(--dark4);
    transition: .4s;
    text-decoration: underline;
}

. .box-button-actions {
display: flex ;
 lacuna: 1rem;
}

: is (botão, .link-action) {
 preenchimento: .6rem;
 tamanho da fonte: .9rem;
 raio da fronteira: 6px;
 cursor: ponteiro;
 transição: .4s;
}

. .button-action {
 cor de fundo: transparente;
 borda: 1px var sólido (- branco);
 cor: var (- branco);
}

. .button-action: hover {
 cor de fundo: var (- dark2);
 borda: 1px var sólido (- dark3) ;
}

. .link-action{
    decoração de texto: nenhum;
    largura: 200px;
    alinhamento de texto: centro;
}

main{
    exibição: flex;
    direção flexível: coluna;
    lacuna: 2rem;
}

section{
    estofamento: 4rem;
}

.first-section{
    exibição: flex;
    justificar-conteúdo: espaço-mesmo;
    lacuna: 2rem;
    flex-wrap: embrulhar;
    alinhar itens: centro;
    min-altura: 650px;
}

.first-section > div{
    exibição: flex;
    direção flexível: coluna;
    lacuna: 1rem;
    largura mínima: 300px;
}

h1{
    tamanho da fonte: 3rem;
    cor: var(--branco);
    espaçamento entre cartas: 8px;
}

strong{
    cor: var(--ciano1);
}

.first-section p{
    cor: var(--branco);
}

.box-img-main{
    largura máxima: 450px;
    estofamento: 1rem;
}

.img-profile{
    raio da fronteira: 50%;
    largura: 100%;
}

:é(. .segunda seção, seção .fourt){
    cor de fundo: var(--escuro2);
    exibição: flex;
    direção flexível: coluna;
    alinhar itens: centro;
    justificar-conteúdo: centro;
    lacuna: 2rem;
}

. .segunda seção ul{
    estilo de lista: nenhum;
    exibição: flex;
    justificar-conteúdo: centro;
    alinhar itens: centro;
    lacuna: 2rem;
    flex-wrap: wrap;
}

.second-section ul li{
    color: var(--dark4);
    letter-spacing: 2px;
    font-weight: bold;
}

.second-section ul li:hover{
    color: var(--dark5);
    transition: 4s;
    cursor: default;
}

.title{
    color: var(--dark5);
}

.third-section{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.third-section > div{
    display: flex;
    gap: 4rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.third-section > div img{
    width: 200px;
    border-radius: 10px;
}

.third-section > div p{
    max-width: 600px;
    color: var(--white);
    text-align: justify;
}

footer{
    padding: 4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

footer > div{
    justify-content: center;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}
